{% extends 'layout.html' %} 

{% block title %}Home{% endblock title %}

{% block body %}
<div class="body-item">
    <img src="static\logo1.png" class="img_logo" alt="Image">
        <div class="card-body">
            <h1 class="card-title">Hello, <br>I'm Ashish Lohani</h1>
            <p class="card-text">I am a CA graduate with various skills.</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">CA</li>
                    <li class="list-group-item">TEACHER</li>
                    <li class="list-group-item">MOTIVATIONAL SPEAKER</li>
                </ul>
            </div>
        </div>        
{% endblock body %}