<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | ASHISH LOHANI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    {% block head %}{% endblock head %}
</head>

<body>
    <nav class="navbar bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">ASHISH LOHANI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon hover-white"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ASHISH LOHANI</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mywork">MY WORK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://drive.google.com/file/d/1xHwm1bULaeLhcKSBdGPkFc1NoS7slqAZ/view?usp=sharing">MY CV</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">ABOUT ME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/myblog">MY BLOGS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                CONTACT ME
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="#">FACEBOOK</a></li>
                                <li><a class="dropdown-item" href="#">INSTAGRAM</a></li>
                                <li><a class="dropdown-item" href="#">TWITTER</a></li>
                                <li><a class="dropdown-item" href="#">MY ONLINE COMMUNITY</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/contact">OTHER CONTACTS</a></li>
                            </ul>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    {% block body %}{% endblock body %}

</body>

</html>